label{
  padding-right: 4px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

input{
  width: 558px;
  height: 48px;
  padding: 2px 12px;
  border-radius: 12px;
  background-color:#353535;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  
}